body {
    margin: 50vh 40vw;
    background-color: #000000;
}

.btn {
    border-radius: 4px;
    border-style: none;
    padding: 7px 20px;
    box-shadow: 0 0 7px 2px #FFFF00;
    background-color: #000000;
    color: #FFFFFF
}